
/***************** עמוד ראשי   **************/
@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100;200;300;400;500;600;700;800;900&display=swap');
*{
  font-family: Heebo;
}

/*************************    הניווטים navBar       ********************/
@media all and (max-width: 480px) {
  .me-auto{
    margin-left: 5%;
    font-size: 25px;
    font-family: cursive;
    }
  }
  @media all and (min-width: 480px) {
    .me-auto{
      margin-left: 25%;
      font-size: 25px;
      font-family: cursive;
      font-weight: bold;
      }
    }

/***************** navbar    **************/
.navBarIcons{
  margin-right: 25px;
  
}
div#basic-navbar-nav.navbar-collapse.collapse.show{
  background-color: white;
  font-weight: bold;
  
}
div#basic-navbar-nav.navbar-collapse.collapse.show .navBarIcons{
  margin-left: 25px;
}

.App{
  background-image: url('https://images.unsplash.com/photo-1643759543584-fb6f448d42d4?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTh8fGV2ZW50c3xlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 100vh;
}


/****   גודל מכרזים שלי   מחשב  **/
@media all and (min-width: 480px){
  .TenderList {
    display: grid;
    grid-template-columns: auto auto  ;
    padding: 10px;
  }
}

/****   גודל מכרזים שלי   טלפון  **/
@media all and (max-width: 480px){
  .TenderList {
    display: grid;
    grid-template-columns: auto ;
    padding: 10px;
  }
}


