
/************************************ עמוד  כרטיס פרופיל  *******************************/
/****   גודל כרטיס פרופיל  מחשב  **/
@media all and (min-width: 480px) {
    .BodyProfile{
      display:'flex';
      padding: 50px;
    }
    .ProfileCard {
      padding: 5px;
      margin: 0 auto;
      max-width: 400px;
      border: 1px solid rgb(61, 61, 61);
      background-color: whitesmoke;
      border-radius: 5px;
      box-shadow: -2px -2px 10px 5px rgb(241, 240, 240);
      background: linear-gradient(to bottom , #5364F8 25%, #fff 10%);
      text-align: center;
    }

    .ProfileCard label {
        color: black;
        font-size: 14px;
        margin-bottom: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .BtnProfile{
      display: grid;
      grid-template-columns: repeat(4, 80px)  ;
      justify-content: center;
      margin:10px;
    }

    .ProfileCard .btnProfile {
        background-color: rgb(233, 227, 227);
        cursor:pointer;
        border:2px solid white;
        border-radius: 50%;
        font-size: 30px;
        justify-self: center;
      }
      .ProfileCard .btnShowHide{
        background-color:rgb(111, 113, 113);
        height: 23px;
        font: 14px bold;
        font-family: cursive ;
        border:2px solid black;
        border-radius: 5px;
      }
  }

/****   גודל כרטיס פרופיל טלפון  **/
  @media all and (max-width: 480px) {
    .BodyProfile{
      display:'flex';
      padding: 25px;
    }
    .ProfileCard {
      padding: 5px;
      margin: 0 auto;
      max-width: 350px;
      border: 1px solid rgb(61, 61, 61);
      background-color: whitesmoke;
      border-radius: 5px;
      box-shadow: -2px -2px 10px 5px rgb(241, 240, 240);
      background: linear-gradient(to bottom , #5364F8 25%, #fff 10%);
      text-align: center;
    }

    .ProfileCard label {
        color: black;
        font-size: 14px;
        margin-bottom: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .BtnProfile{
      display: grid;
      grid-template-columns: repeat(4, 80px)  ;
      justify-content: center;
      margin:10px;
    }

    .ProfileCard .btnProfile {
        background-color: rgb(233, 227, 227);
        cursor:pointer;
        border:2px solid white;
        border-radius: 50%;
        font-size: 30px;
        justify-self: center;
      }
      .ProfileCard .btnShowHide{
        background-color:rgb(111, 113, 113);
        height: 23px;
        font: 14px bold;
        font-family: cursive ;
        border:2px solid black;
        border-radius: 5px;
      }
  }
  

